<%- include('partials/header'); -%>

<h1 style="text-align: center;margin: 200px auto;">TRAVEL BLOG <br><br><br> <a href="/campground"><h4 style="text-align: center;opacity: 50%;">Visit and Publish your own Blog</h4></a>  <br>  </h1>

    
    
    <%- include('partials/footer'); -%>