<%- include('partials/header'); -%>
<div class="container">
    <h1 style="text-align: center;">Create your Blog</h1>
    <div class="row">
        
        <div style="width:45%; margin: 20px  auto;">
<form class=""action="/addcampground" method="POST">
   <div class="form-group">
   <input type="text" name="name" placeholder="Name" class="form-control">
   </div>
   <div class="form-group">
   <input type="text" name="image" placeholder="Image URL" class="form-control">
   </div>
   <div class="form-group">
       <input type="text" name="description" placeholder="Add description" class="form-control">
   </div>
   <div class="form-group">
   <button class="btn btn-primary btn-md" style="margin: 0 auto;">Submit</button>
   </div>

</form>
<a href="/campground">Go Back</a>
</div>
</div>
</div>
<%- include('partials/footer'); -%>